* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Helvetica;   
}

html, body {
    height: 100%;
}

.navbar {
    background: #444444;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
    filter: drop-shadow(0 0 0.75rem grey)
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

#navbar__logo {
    background-color: #02a1bd;
    background-image: #ffffff 100%;
    background-size: 100%;
    color:black;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 3rem;
}

/* Logo van de website */
.fa-gem {
    margin-right: 0.5rem;
}

.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar__item {
    height: 80px;
}

.navbar__links {
    color:#02a1bd;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}

.navbar__links:hover {
    /* background: black; */
    color: white;
    border-radius: 5px;
    transition: all 0.3s ease;
}

@media screen and (max-width: 960px) {
    .navbar__container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }

    .navbar__menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 0;
        transition: all 0.5s ease;
        height: 25vh;
        z-index: -1;
        background:#444444;
    }

    .navbar__menu.active {
        background:#444444;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 25vh;
        font-size: 1.6rem;
    }

    #navbar__logo {
        padding-left: 25px;
    }

    .navbar__toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3 ease-in-out;
        background: #ffffff;
    }

    .navbar__item {
        width: 100%;
    }

    .navbar__links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navbar__toggle .bar {
        display: block;
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}

/* Main content van de website + formulier */

main {
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    min-height: 85%;
    background-color: #ffffff;
    background-image: url("EZLease Resources/10515406.png");
    background-position-x: center;
}

.aanvraag__container {
    background-color: #44444410;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 60%;
    height: 800px;
    max-width: 1300px;
    border: solid black 1px;
    border-radius: 10px;
}

h1 {
    display: flex;
    justify-content: center;
    padding: 25px;
    border: solid black 1px;
    background-color: #02a1bd10;
    width: 80%;
    max-width: 1000px;
}

form {
    padding: 5px;
    margin-top: 5px;
    overflow: clip;
}

.stappen {
    display: flex;
    padding: 15px 0 15px 0;
    gap: 15px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 60%;
}

.stp1 {
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 30%;
    background-color: #44444410;
    border: solid black 1px;
    border-radius: 10px;
}

.stp2 {
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 30%;
    background-color: #44444410;
    border: solid black 1px;
    border-radius: 10px;
}


.stp3 {
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 30%;
    background-color: #44444410;
    border: solid black 1px;
    border-radius: 10px;
}

/* Footer */
footer {
    overflow-wrap: break-word;
    background-color: #444444;
    height: 150px;
    display: flex;
    justify-content: center;
    font-size: 1rem;
}

.footer__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 130px;
    width: 100%;
    max-width: 1300px;  
}

.footer__list {
    overflow-wrap: break-word;
    margin: 10px;
    align-items: center;
    text-decoration: none;
    list-style: none;
    background-color: #ffffff transparent;
}
